.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.inicio p{
    border-top: 5px solid var(--primary-D) ;
}

.inicio .btnVolver{
    width: 100%;
    max-width: 50rem;
    margin-top: 10rem;
}

@media (max-width: 768px) {
    .inicio{
        margin-bottom: 3rem;
    }
    .inicio p{
        text-align: center;
        font-size: 2.4rem;
    }
    .inicio .btnVolver{
        margin-top: 5rem;
    }
}