.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .menu{
        grid-template-columns: 1fr 1fr;
    }
  }

@media (max-width: 768px) {
    .menu{
        grid-template-columns: 1fr;
    }
  }

.reposteria__card{
    
    background-color: var(--gris);
    border-radius: 10px;
    overflow: hidden;
    max-width: 36rem;
    margin: 0 auto;
}

.reposteria__card--img{
    width: 100%;
    height: 24rem;
    max-height: 38rem;
}
.reposteria__card--titulo{
    padding: 0.5rem 1rem;
    font-size: 3rem;
    height: 10rem;
}

.reposteria__card--precio{
    font-size: 3.6rem;
    text-align: end;
    padding: 0 2rem .5rem 0;
}

.reposteria__card--btn{
    background-color: var(--primary-D);
    text-decoration: none;
    padding: 2rem;
    text-align: center;
    display: block;
    color: var(--white);
}
.reposteria__card--btn:hover{
    background-color: var(--primary);
    transition: all .2s ease;
}